# -----------------------
# Virtual Environment
# -----------------------
agenticblog/
venv/
env/

# -----------------------
# Environment Variables
# -----------------------
.env

# -----------------------
# Python Cache Files
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# IDE Files
# -----------------------

# PyCharm
.idea/

# VS Code
.vscode/

# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Project Internal Docs
# -----------------------
PROJECT_EXPLAINED.md